packages:
  - docker.io
  - docker-compose

package_update: true

write_files:
  - path: /etc/sysctl.conf
    owner: root
    permission: 0644
    content: |
      fs.inotify.max_user_watches = 524288
    append: true
  - path: /home/ubuntu/.inputrc
    owner: ubuntu:ubuntu
    permission: 0644
    content: |
      set editing-mode emacs
      set completion-ignore-case off
      set show-all-if-unmodified on
      "\C-p": history-search-backward
      "\C-n": history-search-forward
      "\e[A": history-search-backward
      "\e[B": history-search-forward
    append: true

runcmd:
  - usermod -aG docker ubuntu
  - echo "export PROMPT_DIRTRIM=2" >> /home/ubuntu/.bashrc
  - echo 'export PS1="\w$ "' >> /home/ubuntu/.bashrc
  - echo 'source /home/ubuntu/.bashrc' >> /home/ubuntu/.bash_profile
  - chown -R ubuntu:ubuntu /home/ubuntu
  - DBIAN_FRONTEND=noninteractive apt-get -o Dpkg::Options::=--force-confold -o Dpkg::Options::=--force-confdef -y --allow-downgrades --allow-remove-essential --allow-change-held-packages dist-upgrade
